.screen{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.score{
  font-size: 32px;
}

.seed{
  margin-right: 8px;
  width: 80px;
}

.settings{
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.label {
  display: flex;
  align-items: center;
  gap: 4px;
}
.options {
  display: flex;
  gap: 8px;
}

.game-frame{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.drag-area{
  position: absolute;
  background: #00000066;
}

.full-time-bar{
  width: 500px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.time-bar{
  height: 100%;
  border-radius: 5px;
  background-color: #777777;
  transition: width 0.5s ease;
}